Summary: Classes Library
Name: classes
Version: 1.0
Release: DrD
License: GPL
Group: Applications/Programming
Distribution: CentOS
Vendor: Dr. D Studios
Packager: Aren Villanueva <aren.villanueva@drdstudios.com>
BuildRoot:
AutoReqProv: No

%define _unpackaged_files_terminate_build 0

%description
test

%files
%defattr(-,root,root,-)
/usr/local/lib/libclasses.so
/usr/local/lib/libclasses.so.1
/usr/local/lib/libclasses.so.1.0
/usr/local/lib/libclasses.so.1.0.0
